body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5e7081;
    font-family: Arial, sans-serif;
}

.main{
    display: flex;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 8px;
}

.hidden {
    background-color: #3498db;
    color: transparent;
}